bin
lib
pyvenv.cfg
include

app/app/__pycache__/*
app/db.sqlite3

.env
app/like/views.py
app/app/__pycache__/settings.cpython-39.pyc
app/authentication/__pycache__/__init__.cpython-39.pyc
app/authentication/__pycache__/admin.cpython-39.pyc
app/authentication/__pycache__/apps.cpython-39.pyc
app/authentication/__pycache__/middleware.cpython-39.pyc
app/authentication/__pycache__/models.cpython-39.pyc
app/authentication/__pycache__/serializers.cpython-39.pyc
app/authentication/__pycache__/urls.cpython-39.pyc
app/authentication/__pycache__/views.cpython-39.pyc
app/authentication/migrations/__pycache__/__init__.cpython-39.pyc
app/like/__pycache__/urls.cpython-39.pyc
app/like/__pycache__/views.cpython-39.pyc
app/song/__pycache__/serializers.cpython-39.pyc
app/song/__pycache__/urls.cpython-39.pyc
app/song/__pycache__/views.cpython-39.pyc
